@import url('https://fonts.googleapis.com/css?family=Bitter|Fugaz+One');

// app global css

body {
	background-color : #f8f5ef;
	color: #222;
}

.full-row {
	width: 100%;
}

.header-font {
	font-family: 'Fugaz One', sans-serif;
}
.scripture-font {
	font-family: 'Bitter', serif;
	font-size: 1rem;
}
.scripture-container {
	width: 100%;
	max-width: 600px;
}
.chapter-header {
	text-align: center;
	font-size: 2rem;
	margin: 1rem auto;
}

.content-container {
	margin: 1rem auto;
	width: 92%;
	max-width: 1200px;
}

.registration-title {
	text-align: center;
	font-size: 2rem;
}
.registration-form {
	width: 92%;
	max-width: 500px !important;
}

.post-comment {
    display: flex;
    flex-direction: row;
    width: 100%;
    position: relative;
}

.comment-vote-btns {
	font-size: 1.5rem;
	display: flex;
	flex-direction: column;
	text-align: center;
	width: 70px;
}
.comment-vote-btns > div {
	width: 100%;
}
.comment-group {
	position: relative;
    margin-top: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.3);
    border-image: initial;
    border-radius: 5px;
    padding: 1rem 0.2rem 1rem 0.5rem;
}
.cg0 {
	background-color: #edf7ff !important;
}
.cg1 {
	background-color: #ffeded !important;
}
.cg2 {
	background-color: #edfff1 !important;
}
.cg3 {
	background-color: #fbedff !important;
}
.cg4 {
	background-color: #fffaed !important;
}
.left-border-btn {
	position: absolute;
	left: -1px;
	top: -1px;
	width: 5px;
	height: calc(100% + 2px);
	cursor: pointer;
	border-radius: 5px 0 0 5px;
}
/*
TODO refactor out each color, then also add hover colors
 */
.cg0 .left-border-btn {
	background-color: #33A4FF;
}
.cg1 .left-border-btn {
	background-color: #FF3333;
}
.cg2 .left-border-btn {
	background-color: #33FF5F;
}
.cg3 .left-border-btn {
	background-color: #D333FF;
}
.cg4 .left-border-btn {
	background-color: #FFC533;
}

.bottom-border-minimized-children {
	position: absolute;
	left: -1px;
	bottom: -1px;
	width: calc(100% + 2px);
	height: 12px;
	cursor: pointer;
	border-radius: 0 0 5px 5px;
	overflow: hidden;
}
.bottom-border-minimized-children > div {
	color: #FFF;
	font-size: 3rem;
	position: relative;
	top: -44px;
	width: 100%;
	text-align: center;
	pointer-events: none;
}
.cg0 .bottom-border-minimized-children {
	background-color: #33A4FF;
}
.cg1 .bottom-border-minimized-children {
	background-color: #FF3333;
}
.cg2 .bottom-border-minimized-children {
	background-color: #33FF5F;
}
.cg3 .bottom-border-minimized-children {
	background-color: #D333FF;
}
.cg4 .bottom-border-minimized-children {
	background-color: #FFC533;
}

.verse-container {
	margin-bottom: .7rem;
}
.verse-number {
	cursor: pointer;
}
.verse-number.has-comments {
	color: #f00;
}

.vote-btn {
	cursor: pointer;
}
.vote-btn.voted {
	color: #0F0;
}

.svg-white {
	fill: #FFFFFF;
}
.svg-black {
	fill: #000000;
}

@media (min-width: 600px) {
	.lt-xs {
		display: none !important;
	}
}
@media (max-width: 767px) {
	.lt-tablet-hide {
		display: none !important;
	}
}

@media (max-width: 1023px) {
	.lt-sm-hide {
		display: none !important;
	}
}
